<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.finaspellapp" >

    <!-- The code for making the app to support different screen sizes ranging from the minimum width of 600 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- The Splash Activity -->
        <activity
            android:name=".Hyperlapse"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- The welcome activity -->
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_hyperlapse"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!-- The final activity of the app -->
        <activity
            android:name=".End"
            android:label="@string/title_activity_end"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".select"
            android:label="@string/title_activity_select"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignInScreen"
            android:label="@string/title_activity_sign_in_screen"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SignUpScreen"
            android:label="@string/title_activity_sign_up_screen"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
